wsRFBReginV2/Web References/WsServices06RFB/Untitled.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://servicos.integrador.serpro.gov.br/" name="Untitled" targetNamespace="http://servicos.integrador.serpro.gov.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://servicos.integrador.serpro.gov.br/" version="1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="incompRegistroIntegradorEstadual">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigo">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="7" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="mensagem">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="300" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="processarComunicacaoDeferIndeferFault">
        <xs:sequence>
          <xs:element name="erro" type="tns:erro" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="processarComunicacaoDeferIndeferRequest">
        <xs:sequence>
          <xs:element name="codServico">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="3" />
                <xs:pattern value="[F|S]{1}\d{2}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="versao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="6" />
                <xs:pattern value="\d{6}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="usoRFB">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="64" />
                <xs:pattern value="(AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO)(JC|CC|IE)[A-Za-z0-9]*" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numeroProtocolo">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="13" />
                <xs:pattern value="[a-zA-Z]{3}\d{10}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numeroOcorrencia">
            <xs:simpleType>
              <xs:restriction base="xs:int">
                <xs:totalDigits value="2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numeroNire">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="[11|12|13|14|15|16|17|21|22|23|24|25|26|27|28|29|31|32|33|35|41|42|43|51|52|53|54]{2}[1|2|3|4|5|6|8|9]{1}\d{8}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numeroNire246">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="[11|12|13|14|15|16|17|21|22|23|24|25|26|27|28|29|31|32|33|35|41|42|43|51|52|53|54]{2}[1|2|3|4|5|6|8|9]{1}\d{8}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numeroRegistroCartorio">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="18" />
                <xs:pattern value="\d{6}[P][J]\d{10}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numeroRegistroOab">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="16" />
                <xs:pattern value="[O][A][B](AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO)\d{1,11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="dataRegistro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="8" />
                <xs:pattern value="[1-2][0-9][0-9][0-9](01|02|03|04|05|06|07|08|09|10|11|12)(01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31)" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="nomeEmpresarial">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="144" />
                <xs:pattern value="[a-zA-Z0-9 /,.\-@:&amp;*+_&lt;&gt;()!?'$%]+" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="cnpjOrgaoRegistro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="14" />
                <xs:pattern value="\d{14}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="cpfResponsavelDeferimento">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="\d{11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="numeroServentia">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="6" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="resultadoRegistroIntegradorEstadual">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="\d{2}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="20" name="incompRegistroIntegradorEstadual" type="tns:incompRegistroIntegradorEstadual" />
          <xs:element minOccurs="0" name="reciboSolicitacao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="identificacaoSolicitacao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="14" />
                <xs:pattern value="\d{14}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="processarComunicacaoDeferIndeferRequestWrapper">
        <xs:sequence>
          <xs:element ref="tns:processarComunicacaoDeferIndeferRequest" />
        </xs:sequence>
        <xs:attribute name="idTransmissao" type="tns:uuid" use="required" />
      </xs:complexType>
      <xs:complexType name="processarComunicacaoDeferIndeferResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="retornoWSRedesim" type="tns:retornoWSRedesim" />
          <xs:element minOccurs="0" name="retornoWS06Redesim" type="tns:retornoWS06Redesim" />
          <xs:element minOccurs="0" name="retornoINDEFWSRedesim" type="tns:retornoINDEFWSRedesim" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retornoINDEFWSRedesim">
        <xs:sequence>
          <xs:element name="statusEnvio" type="xs:string" />
          <xs:element minOccurs="0" name="codigoRetorno">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="20" name="descricaoRetorno">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="250" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retornoWS06Redesim">
        <xs:sequence>
          <xs:element name="codServico">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="3" />
                <xs:pattern value="[F|S]{1}\d{2}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="versao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="6" />
                <xs:pattern value="\d{6}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numeroProtocolo">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="13" />
                <xs:pattern value="[a-zA-Z]{3}\d{10}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numeroOcorrencia">
            <xs:simpleType>
              <xs:restriction base="xs:int">
                <xs:totalDigits value="2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numeroNire">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="\d{11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numeroNire246">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="\d{11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numeroRegistroCartorio">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="18" />
                <xs:pattern value="\d{6}[P][J]\d{10}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numeroRegistroOab">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="16" />
                <xs:pattern value="[O][A][B](AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO)\d{1,11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numeroCnpj">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="14" />
                <xs:pattern value="\d{14}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="cnpjOrgaoRegistro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="14" />
                <xs:pattern value="\d{14}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="nomeEmpresarial">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="144" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="reciboSolicitacao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="identificacaoSolicitacao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="14" />
                <xs:pattern value="\d{14}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="incompRegistroIntegradorEstadual" type="tns:incompRegistroIntegradorEstadual" />
      <xs:element name="processarComunicacaoDeferIndeferFault" type="tns:processarComunicacaoDeferIndeferFault" />
      <xs:element name="processarComunicacaoDeferIndeferRequest" type="tns:processarComunicacaoDeferIndeferRequest" />
      <xs:element name="processarComunicacaoDeferIndeferRequestWrapper" type="tns:processarComunicacaoDeferIndeferRequestWrapper" />
      <xs:element name="processarComunicacaoDeferIndeferResponse" type="tns:processarComunicacaoDeferIndeferResponse" />
      <xs:simpleType name="NonEmptyString">
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:pattern value=".*[^\s].*" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="contato">
        <xs:sequence>
          <xs:element minOccurs="0" name="dddTelefone1">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="4" />
                <xs:pattern value="\d{4}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="telefone1">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="8" />
                <xs:pattern value="\d{8}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="dddTelefone2">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="4" />
                <xs:pattern value="\d{4}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="telefone2">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="8" />
                <xs:pattern value="\d{8}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="dddFax">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="4" />
                <xs:pattern value="\d{4}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="fax">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="8" />
                <xs:pattern value="\d{8}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="correioEletronico">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="115" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="endereco">
        <xs:sequence>
          <xs:element minOccurs="0" name="indOrigemEndereco">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="1|2|3" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="cep">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="8" />
                <xs:pattern value="\d{8}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="uf">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="codMunicipio">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="4" />
                <xs:pattern value="\d{4}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="codTipoLogradouro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="6" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="logradouro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="60" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numLogradouro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="6" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="complementoLogradouro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="156" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="bairro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="distrito">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="referencia">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="150" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="cidadeExterior">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="55" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="codPais">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="3" />
                <xs:pattern value="\d{3}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="erro">
        <xs:sequence>
          <xs:element name="codigo" type="xs:string" />
          <xs:element name="descricao" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="incompatibilidade">
        <xs:sequence>
          <xs:element name="descricaoIncompatibilidade">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="300" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="orgao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="150" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="infoValidacaoIE">
        <xs:sequence>
          <xs:element minOccurs="0" name="nire">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="\d{11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="nire246">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="\d{11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numRegCartorio">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="16" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="dataRegistro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="8" />
                <xs:pattern value="[1-2][0-9][0-9][0-9](01|02|03|04|05|06|07|08|09|10|11|12)(01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31)" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="nomeEmpresarial">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="4" />
                <xs:maxLength value="144" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="cnpjOrgaoRegistro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="14" />
                <xs:pattern value="\d{14}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="cpfServidorRespDeferimento">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="\d{11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="resultadoValidacaoIE" type="tns:resultadoValidacao" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="infoValidacaoIN">
        <xs:sequence>
          <xs:element name="cnpj">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="14" />
                <xs:pattern value="\d{14}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="cnpjOrgaoRegistro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="14" />
                <xs:pattern value="\d{14}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="nire">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="\d{11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="nire246">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="\d{11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="nomeEmpresarial">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="4" />
                <xs:maxLength value="144" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numRegCartorio">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="16" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="infoValidacaoRFB">
        <xs:sequence>
          <xs:element name="resultadoValidacaoRFB" type="tns:resultadoValidacao" />
          <xs:element minOccurs="0" name="nire">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="\d{11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="nire246">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="\d{11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numRegCartorio">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="16" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="cnpj">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="14" />
                <xs:pattern value="\d{14}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="resultadoValidacao">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="20" name="incomps" nillable="true" type="tns:incompatibilidade" />
          <xs:element name="resultado">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="01|02" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retornoWSRedesim">
        <xs:sequence>
          <xs:element name="statusEnvio" type="xs:string" />
          <xs:element minOccurs="0" name="codigoRetorno">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="descricaoRetorno">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="298" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numeroCnpj">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="14" />
                <xs:pattern value="\d{14}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="uuid">
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="processarComunicacaoDeferIndeferRequest">
    <wsdl:part name="req" element="tns:processarComunicacaoDeferIndeferRequest" />
  </wsdl:message>
  <wsdl:message name="processarComunicacaoDeferIndeferResponse">
    <wsdl:part name="resp" element="tns:processarComunicacaoDeferIndeferResponse" />
  </wsdl:message>
  <wsdl:message name="processarComunicacaoDeferIndeferFault">
    <wsdl:part name="fault" element="tns:processarComunicacaoDeferIndeferFault" />
  </wsdl:message>
  <wsdl:portType name="WS06">
    <wsdl:operation name="processarComunicacaoDeferIndefer">
      <wsdl:input message="tns:processarComunicacaoDeferIndeferRequest" />
      <wsdl:output message="tns:processarComunicacaoDeferIndeferResponse" />
      <wsdl:fault name="fault" message="tns:processarComunicacaoDeferIndeferFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS06HttpSoapBinding" type="tns:WS06">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="processarComunicacaoDeferIndefer">
      <soap:operation soapAction="/WS/WS06Service.serviceagent/WS06HttpSoap/processarComunicacaoDeferIndefer" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="req" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="resp" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS06Service.serviceagent">
    <wsdl:port name="WS06HttpSoap" binding="tns:WS06HttpSoapBinding">
      <soap:address location="https://www14c.receita.fazenda.gov.br:443/services/ws06/ws06" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>