wsRFBReginV2/Web References/WsServices05RFB/Untitled.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://servicos.integrador.serpro.gov.br/" name="Untitled" targetNamespace="http://servicos.integrador.serpro.gov.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://servicos.integrador.serpro.gov.br/" version="1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="entregaDocumentosFault">
        <xs:sequence>
          <xs:element name="erro" type="tns:erro" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="entregaDocumentosRequest">
        <xs:sequence>
          <xs:element name="codServico">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="3" />
                <xs:pattern value="[F|S]{1}05" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="versao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="6" />
                <xs:pattern value="\d{6}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="usoRFB">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="64" />
                <xs:pattern value="(AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO)(JC|CC|IE)[A-Za-z0-9]*" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="numeroProtocolo">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="13" />
                <xs:pattern value="[a-zA-Z]{3}\d{10}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="numeroOcorrencia">
            <xs:simpleType>
              <xs:restriction base="xs:int">
                <xs:totalDigits value="2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="cnpjOrgaoRegistro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="14" />
                <xs:pattern value="\d{14}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="cpfRecepcionador">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="\d{11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="dataRecepcao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="8" />
                <xs:pattern value="[1-2][0-9][0-9][0-9](01|02|03|04|05|06|07|08|09|10|11|12)(01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31)" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="numeroServentia">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="6" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="reciboSolicitacao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="identificacaoSolicitacao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="14" />
                <xs:pattern value="\d{14}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="situacaoDocumentacaoOrgao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="1" />
                <xs:pattern value="b|B|d|D|e|E|r|R" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="entregaDocumentosRequestWrapper">
        <xs:sequence>
          <xs:element ref="tns:entregaDocumentosRequest" />
        </xs:sequence>
        <xs:attribute name="idTransmissao" type="tns:uuid" use="required" />
      </xs:complexType>
      <xs:complexType name="entregaDocumentosResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="retornoWSRedesim" type="tns:retornoWSRedesim" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="entregaDocumentosFault" type="tns:entregaDocumentosFault" />
      <xs:element name="entregaDocumentosRequest" type="tns:entregaDocumentosRequest" />
      <xs:element name="entregaDocumentosRequestWrapper" type="tns:entregaDocumentosRequestWrapper" />
      <xs:element name="entregaDocumentosResponse" type="tns:entregaDocumentosResponse" />
      <xs:simpleType name="NonEmptyString">
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:pattern value=".*[^\s].*" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="erro">
        <xs:sequence>
          <xs:element name="codigo" type="xs:string" />
          <xs:element name="descricao" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retornoWSRedesim">
        <xs:sequence>
          <xs:element name="statusEnvio" type="xs:string" />
          <xs:element minOccurs="0" name="codigoRetorno">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="descricaoRetorno">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="298" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="uuid">
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="entregaDocumentosResponse">
    <wsdl:part name="resp" element="tns:entregaDocumentosResponse" />
  </wsdl:message>
  <wsdl:message name="entregaDocumentosRequest">
    <wsdl:part name="req" element="tns:entregaDocumentosRequest" />
  </wsdl:message>
  <wsdl:message name="entregaDocumentosFault">
    <wsdl:part name="fault" element="tns:entregaDocumentosFault" />
  </wsdl:message>
  <wsdl:portType name="WS05">
    <wsdl:operation name="entregaDocumentos">
      <wsdl:input message="tns:entregaDocumentosRequest" />
      <wsdl:output message="tns:entregaDocumentosResponse" />
      <wsdl:fault name="fault" message="tns:entregaDocumentosFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS05HttpSoapBinding" type="tns:WS05">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="entregaDocumentos">
      <soap12:operation soapAction="/WS05Service.serviceagent/WS05HttpSoap/entregaDocumentos" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" parts="req" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="resp" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap12:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS05Service.serviceagent">
    <wsdl:port name="WS05HttpSoap" binding="tns:WS05HttpSoapBinding">
      <soap12:address location="http://www.webdes.serpro:80/services/ws05/ws05" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>