wsRFBReginV2/Connected Services/RJ_Servico_S99_V2/ServicoIntegracaoS991.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.jucerja.rj.gov.br/ServicoIntegracaoS99/ServicoIntegracaoS99.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/jucerja.rj.servicos" />
  <xs:element name="EnviarS99">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlS99" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarS99Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/jucerja.rj.servicos" minOccurs="0" name="EnviarS99Result" nillable="true" type="q1:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>