wsRFBReginV2/Connected Services/RJ_Servico_S99_V2/ServicoIntegracaoS99.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/jucerja.rj.servicos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/jucerja.rj.servicos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Resultado">
    <xs:sequence>
      <xs:element name="_x003C_Codigo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Mensagem_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resultado" nillable="true" type="tns:Resultado" />
</xs:schema>