wsRFBReginV2/Web References/WsServices53RFB/ws53.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://redesim.serpro.gov.br/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ws53" targetNamespace="http://redesim.serpro.gov.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://redesim.serpro.gov.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="retornoWSRedesim">
        <xs:sequence>
          <xs:element name="statusEnvio" type="xs:string" />
          <xs:element minOccurs="0" name="codigoRetorno">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="descricaoRetorno">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="298" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="reciboSolicitacao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="identificacaoSolicitacao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="14" />
                <xs:pattern value="\d{14}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="20" name="mensagemRetorno" type="tns:mensagemRetorno" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mensagemRetorno">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoRetorno">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="7" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="descricaoRetorno">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="250" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="contato">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="dddTelefone1">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="4" />
                <xs:pattern value="[0-9]{0,4}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="telefone1">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9" />
                <xs:pattern value="[0-9]{0,9}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="dddTelefone2">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="4" />
                <xs:pattern value="[0-9]{0,4}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="telefone2">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9" />
                <xs:pattern value="[0-9]{0,9}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="correioEletronico">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="115" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="complementoLogradouro">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="tipoComplementoLogradouro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="6" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="descricaoComplementoLogradouro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="20" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="endereco">
        <xs:sequence>
          <xs:element minOccurs="0" name="indOrigemEndereco">
            <xs:annotation>
              <xs:documentation>Atributo em desuso. Será removido do layout do IN no futuro.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="1|2|3" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="cep">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="8" />
                <xs:pattern value="\d{8}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="uf">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO|EX" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="codMunicipio">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="4" />
                <xs:pattern value="\d{4}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="codTipoLogradouro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="6" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="logradouro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="60" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numLogradouro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="6" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="6" name="complementoLogradouro" type="tns:complementoLogradouro" />
          <xs:element minOccurs="0" name="bairro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="distrito">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="referencia">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="150" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="cidadeExterior">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="55" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="codPais">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="3" />
                <xs:pattern value="\d{3}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ativEcon">
        <xs:sequence>
          <xs:element minOccurs="0" name="codCnaeFiscal">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="7" />
                <xs:pattern value="\d{7}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="99" name="codCnaeSecundaria" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="7" />
                <xs:pattern value="\d{7}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="7" name="codFormaDeAtuacao" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="01|02|03|04|05|06|07|08" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="13" name="codTipoUnidade">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="00|01|02|03|04|05|06|07|08|09|10|13|14" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="objetoSocial" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="7000" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="viabilidade">
        <xs:sequence>
          <xs:element maxOccurs="8" name="codEventosViabilidade">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="3" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="codStatusViabilidade">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="01" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="dataValidadeViabilidade">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="8" />
                <xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="resultadoViabilidadeNome">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="00|01|02|03" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="resultadoViabilidadeEndereco">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="00|01|02|03" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="dataInicioAnaliseViabilidade">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="8" />
                <xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="dataFimAnaliseViabilidadeNome">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="8" />
                <xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="dataFimAnaliseViabilidadeEndereco">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="8" />
                <xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="indicadorCnpjNomeEmpresarial">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="S|N" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="nomeEmpresarial">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="144" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="codNaturezaJuridica">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="4" />
                <xs:pattern value="\d{4}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="codTipoOrgaoRegistro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="1" />
                <xs:pattern value="1|2|3|4" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="cnpj">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="14" />
                <xs:pattern value="\d{14}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="endereco" type="tns:endereco" />
          <xs:element minOccurs="0" name="atividadeEconomica" type="tns:ativEcon" />
          <xs:element minOccurs="0" maxOccurs="10" name="nomeSocioPf">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
                <xs:maxLength value="60" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="10" name="cpfSocioPf">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="\d{11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="indicadorContabilista">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="quotasEmpresa">
        <xs:sequence>
          <xs:element minOccurs="1" name="qtdeQuotas">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="14" />
                <xs:pattern value="[0-9]+" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="valorQuota">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="14" />
                <xs:pattern value="[0-9]+" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dadosComplementares">
        <xs:sequence>
          <xs:element minOccurs="1" name="empresaComEstabelecimento">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="1" />
                <xs:pattern value="S|N" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="nomeFantasia">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="55" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="capitalSocial">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="14" />
                <xs:pattern value="[0-9]+" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="capitalIntegralizado">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="14" />
                <xs:pattern value="[0-9]+" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="capitalIntegralizar">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="14" />
                <xs:pattern value="[0-9]+" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="quotasEmpresa" type="tns:quotasEmpresa" />
          <xs:element minOccurs="0" name="contatoEmpresa" type="tns:contato" />
          <xs:element minOccurs="0" name="enderecoCorrespondencia" type="tns:endereco" />
          <xs:element minOccurs="0" name="codPorteEmpresa">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="01|03|05" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="indicadorPrazoDuracaoAtividade">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="01|02" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="dataInicioAtividades">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="8" />
                <xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="dataTerminoAtividades">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="8" />
                <xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="dataAssinaturaContrato">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="8" />
                <xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="cpfAdvogado">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="\d{11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="nomeAdvogado">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="60" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="registroOAB">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="15" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="ufOAB">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="codClassificCRCcontadorPF">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="1" />
                <xs:pattern value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="ufContadorPF">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numSeqContadorPF">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="6" />
                <xs:pattern value="\d{6}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="codTipoCRCcontadorPF">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="1" />
                <xs:pattern value="O|T|S|P|F" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="cpfContadorPF">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="\d{11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="nomeContadorPF">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="60" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="codClassificEmpresaContabil">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="1" />
                <xs:pattern value="2|3" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="ufCRCempresaContabil">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="seqCRCempresaContabil">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="6" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="codTipoCRCempresaContabil">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="1" />
                <xs:pattern value="O|T|S|P|F" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="cnpjEmpresaContabil">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="14" />
                <xs:pattern value="\d{14}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="nomeEmpresaContabil">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="150" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="endContadorPf" type="tns:endereco" />
          <xs:element minOccurs="0" name="contatoContadorPf" type="tns:contato" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="integralizacaoCapitalSocio">
        <xs:sequence>
          <xs:element minOccurs="1" name="formaIntegralizacao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="01|02|03|04|05" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="valorIntegralizacao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="14" />
                <xs:pattern value="[0-9]+" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="dataIntegralizacao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="8" />
                <xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="dataIntegralizar">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="8" />
                <xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numRegistro">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="13" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="numMatricula">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="14" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="identificacaoTitularImovel">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="100" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="identificacaoCartorio">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="100" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="cnpjCotasIntegralizar">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="14" />
                <xs:pattern value="[0-9]+" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="qtdeCotasCnpjIntegralizar">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="14" />
                <xs:pattern value="[0-9]+" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="socio">
        <xs:sequence>
          <xs:element minOccurs="0" name="indicadorRepresentantePJ">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="1" />
                <xs:pattern value="S|N" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="codEvento">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="3" />
                <xs:pattern value="001" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="indCnpjCpfSocio">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="1|2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="cnpjCpfSocio">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="11" />
                <xs:maxLength value="14" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="socio">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="150" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="codQualificacaoSocio">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="\d{2}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="codPais">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="3" />
                <xs:pattern value="\d{3}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="valorParticipacaoCapitalSocial">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="14" />
                <xs:pattern value="[0-9]+" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="valorIntegralizado">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="14" />
                <xs:pattern value="[0-9]+" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="valorIntegralizar">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="14" />
                <xs:pattern value="[0-9]+" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="qtdeQuotas">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="14" />
                <xs:pattern value="[0-9]+" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="20" name="integralizacaoCapitalSocio" type="tns:integralizacaoCapitalSocio" />
          <xs:element minOccurs="0" name="estadoCivil">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="01|02|03|04|05|06|07|08" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="comunhaoBens">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="01|02|03|04|05|06" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="indicadorEmancipacao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="1" />
                <xs:pattern value="S|N" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="tipoEmancipacao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="01|02|03|04|05|06|07" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="endSocio" type="tns:endereco" />
          <xs:element minOccurs="0" name="contatoSocio" type="tns:contato" />
          <xs:element minOccurs="0" name="representanteLegalSocio">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="60" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="codQualificacaoRepresentanteLegalSocio">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:pattern value="05|09|14|15|17|35" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="cpfRepresentanteLegalSocio">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="\d{11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="endRepLegal" type="tns:endereco" />
          <xs:element minOccurs="0" name="contatoRepLegal" type="tns:contato" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="serviceRequest" type="tns:serviceRequest" />
      <xs:complexType name="serviceRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="codServico">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="3" />
                <xs:pattern value="[F|S]{1}53" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="versao">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="6" />
                <xs:pattern value="\d{6}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="numeroProtocolo">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="13" />
                <xs:pattern value="(AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO)B\d{10}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="numeroOcorrencia">
            <xs:simpleType>
              <xs:restriction base="xs:int">
                <xs:totalDigits value="2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="usoRFB">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="64" />
                <xs:pattern value="(AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO|EX)(JC|CC|IE)[A-Za-z0-9]*" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="cpfPreenchedor">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="11" />
                <xs:pattern value="\d{11}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="viabilidade" type="tns:viabilidade" />
          <xs:element minOccurs="0" name="dadosComplementares" type="tns:dadosComplementares" />
          <xs:element minOccurs="1" maxOccurs="300" name="socios" nillable="true" type="tns:socio" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="serviceResponse" type="tns:serviceResponse" />
      <xs:complexType name="serviceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="retornoWSRedesim" type="tns:retornoWSRedesim" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="wsFault" nillable="true" type="tns:wsFault" />
      <xs:complexType name="wsFault">
        <xs:sequence>
          <xs:element name="faultCode" type="xs:string" />
          <xs:element name="faultString" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="wsFaultException">
    <wsdl:part name="wsFault" element="tns:wsFault" />
  </wsdl:message>
  <wsdl:message name="enviar">
    <wsdl:part name="serviceRequest" element="tns:serviceRequest" />
  </wsdl:message>
  <wsdl:message name="envioResponse">
    <wsdl:part name="serviceResponse" element="tns:serviceResponse" />
  </wsdl:message>
  <wsdl:portType name="ws53">
    <wsdl:operation name="enviar">
      <wsdl:input name="enviar" message="tns:enviar" />
      <wsdl:output name="envioResponse" message="tns:envioResponse" />
      <wsdl:fault name="wsFaultException" message="tns:wsFaultException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws53SoapBinding" type="tns:ws53">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="enviar">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="enviar">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="envioResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="wsFaultException">
        <soap:fault use="literal" name="wsFaultException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws53">
    <wsdl:port name="ws53Port" binding="tns:ws53SoapBinding">
      <soap:address location="http://localhost:9080/services/ws53/ws53" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>