wsRFBReginV2/ws07.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ws07" targetNamespace="http://redesim.serpro.gov.br/" 
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://redesim.serpro.gov.br/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://redesim.serpro.gov.br/" 
			xmlns:tns="http://redesim.serpro.gov.br/" 
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="retornoWS">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="statusEnvio" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="codigoRetorno">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="descricaoRetorno">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="250"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="20" minOccurs="0" name="motivosIndeferimento" type="tns:incompProcessamento" nillable="true"/>
					<xs:element maxOccurs="1" minOccurs="0" name="numIdentificacaoTransmissao">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="20"/>
								<xs:pattern value="\d{20}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="cancelamentoDBE" type="tns:bloqueioWS"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="incompProcessamento">
				<xs:sequence>
					<xs:element minOccurs="0" name="codigo">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="7"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="mensagem">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="300"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="bloqueioWS">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="codigo">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="descricao">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="data">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="hora">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="7"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="contato">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="dddTelefone1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="telefone1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="\d{8}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="dddTelefone2">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="telefone2">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="\d{8}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="dddFax">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="fax">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="\d{8}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="correioEletronico">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="115"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="endereco">
				<xs:sequence>
					<xs:element minOccurs="0" name="indOrigemEndereco">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="1|2|3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="cep">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="\d{8}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="uf">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO|EX"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codMunicipio">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codTipoLogradouro">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="logradouro">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="60"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="numLogradouro">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="complementoLogradouro">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="156"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="bairro">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="distrito">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="referencia">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="150"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="cidadeExterior">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="55"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codPais">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="3"/>
								<xs:pattern value="\d{3}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="redesim">
				<xs:sequence>
					<xs:element minOccurs="0" name="convenio">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="cnpj">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="14"/>
								<xs:pattern value="\d{14}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="orgaoResponsavelDeferimento">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="numAtoOficio">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="25"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codConvenioAtoOficio">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="numViabilidadeAssociada">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="13"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="dadosEspecificosDeferimento" type="tns:dadosEspecificosDeferimento" />
					<xs:element minOccurs="0" name="viabilidade" type="tns:viabilidade"/>
					<xs:element minOccurs="0" name="fcpj" type="tns:fcpj"/>
					<xs:element minOccurs="0" name="atividadeEconomica" type="tns:ativEcon"/>
					<xs:element minOccurs="0" name="simplesNacional" type="tns:simplesNacional" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="socios" nillable="true" type="tns:socio"/>
					<xs:element minOccurs="0" maxOccurs="2" name="dadosCNPJ" type="tns:dadosCNPJ"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ativEcon">
				<xs:sequence>
					<xs:element minOccurs="0" name="codCnaeFiscal">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="7"/>
								<xs:pattern value="\d{7}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="99" minOccurs="0" name="codCnaeSecundaria" nillable="true">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="7"/>
								<xs:pattern value="\d{7}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="8" minOccurs="0" name="codFormaDeAtuacao" nillable="true">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="01|02|03|04|05|06|07|08"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codTipoUnidade" maxOccurs="13">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="00|01|02|03|04|05|06|07|08|09|10|11|12|13|14"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="objetoSocial" nillable="true">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="7000"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="viabilidade">
				<xs:sequence>
					<xs:element name="codEventosViabilidade" maxOccurs="7">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="3" />
								<xs:pattern value="(101|102|106|209|210|211|220|225|244|248|249)" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="codStatusViabilidade">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="protocoloViabilidade">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="13" />
								<xs:pattern value="(AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO)P\d{10}" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="protocoloRLE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="14" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dataValidadeViabilidade">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8" />
								<xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="resultadoViabilidadeNome">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2" />
								<xs:pattern value="00|01|02|03" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="resultadoViabilidadeEndereco">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2" />
								<xs:pattern value="00|01|02|03" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dataInicioAnaliseViabilidade">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8" />
								<xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dataFimAnaliseViabilidadeNome">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8" />
								<xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dataFimAnaliseViabilidadeEndereco">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8" />
								<xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="indicadorCnpjNomeEmpresarial">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="S|N"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="nomeEmpresarial">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="400"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codNaturezaJuridica">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="4"/>
								<xs:pattern value="\d{4}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codTipoOrgaoRegistro">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
								<xs:pattern value="1|2|3|4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="cnpj">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="14"/>
								<xs:pattern value="\d{14}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="cnpjFilial">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="14"/>
								<xs:pattern value="\d{14}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="endereco" type="tns:endereco"/>
					<xs:element minOccurs="0" name="atividadeEconomica" type="tns:ativEcon"/>
					<xs:element name="areaImovel" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="12" />
								<xs:pattern value="\d{0,12}" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="areaEstabelecimento" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="12" />
								<xs:pattern value="\d{0,12}" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="inscricaoImovel" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="30" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="tipoInscricao" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2" />
								<xs:pattern value="00|01" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="indicadorContabilista" minOccurs="0">
	                	<xs:simpleType>
	                    	<xs:restriction base="xs:string">
	                        	<xs:maxLength value="1" />
	                     	</xs:restriction>
	                  	</xs:simpleType>
	               	</xs:element>
					<xs:element name="nomeSocioPf" minOccurs="0" maxOccurs="10">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1" />
								<xs:maxLength value="60" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="cpfSocioPf" minOccurs="0" maxOccurs="10">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="11" />
								<xs:pattern value="\d{11}" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="fcpj">
				<xs:sequence>
					<xs:element maxOccurs="8" minOccurs="0" name="codEvento" nillable="true">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="3"/>
								<xs:pattern value="\d{3}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="8" minOccurs="0" name="dataEvento" nillable="true">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="8" minOccurs="0" name="tipoEvento" nillable="true">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="inMatriz">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="1|2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="indicadorCnpjNomeEmpresarial">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="S|N"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="nomeEmpresarial">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="150"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="nomeFantasia">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="55"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codNaturezaJuridica">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="4"/>
								<xs:pattern value="\d{4}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codTipoOrgaoRegistro">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
								<xs:pattern value="1|2|3|4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="nire">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="11"/>
								<xs:pattern value="\d{11}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="numeroRegistroCartorio">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="25"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="numeroDoCNPJOrgaoRegistro">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="14"/>
								<xs:pattern value="\d{14}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="arquivamento">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="11"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="capitalSocial">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="14"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="cnpjEstabMatriz">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="14"/>
								<xs:pattern value="\d{14}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codEnteFederativo">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="nomeResponsavel">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="60"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="cpfResponsavel">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="11"/>
								<xs:pattern value="\d{11}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codQualificResponsavel">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="\d{2}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="nomePreposto">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="60"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="cpfPreposto">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="11"/>
								<xs:pattern value="\d{11}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="ufOrigem">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO|EX"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codMunicOrigem">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="4"/>
								<xs:pattern value="\d{4}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="endereco" type="tns:endereco"/>
					<xs:element minOccurs="0" name="contato" type="tns:contato"/>
					<xs:element minOccurs="0" name="enderecoCorrespondencia" type="tns:endereco"/>
					<xs:element minOccurs="0" name="caixaPostal">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="cepCaixaPostal">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="\d{8}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codPorteEmpresa">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="01|03|05"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="8" minOccurs="0" name="cnpjSucessora" nillable="true">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="14"/>
								<xs:pattern value="\d{14}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codClassificCRCcontadorPF">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="ufContadorPF">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="numSeqContadorPF">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="6"/>
								<xs:pattern value="\d{6}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codTipoCRCcontadorPF">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
								<xs:pattern value="O|T|S|P|F"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="cpfContadorPF">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="11"/>
								<xs:pattern value="\d{11}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="nomeContadorPF">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="60"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="dataRegistroCRCcontadorPF">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="idContadorPF">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="15"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="orgaoEmissorIdContadorPF">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="15"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="ufOrgaoEmissorIdContadorPF">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="dataEmissaoIdContadorPF">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codClassificEmpresaContabil">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
								<xs:pattern value="2|3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="ufCRCempresaContabil">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="seqCRCempresaContabil">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codTipoCRCempresaContabil">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
								<xs:pattern value="O|T|S|P|F"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="cnpjEmpresaContabil">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="14"/>
								<xs:pattern value="\d{14}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="nomeEmpresaContabil">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="150"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="inPermanencialivrosFiscais">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="S|N"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="inOpcaoLivrosEletronicos">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="S|N"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="inOpcaoDocumentosEletronicos">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="S|N"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="inProcessamentoEletronicoDados">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="S|N"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="inUtilizacaoECF">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="S|N"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codVinculoImovel">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="dataValidadeInscricao">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="nirf">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="\d{8}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="nomeProprietarioRural">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="150"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="inCpfCnpjProprietario">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="1|2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="cpfCnpjProprietarioRural">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="11"/>
								<xs:maxLength value="14"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="inscricaoEstadualAnteriorProdutorRural">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="13"/>
								<xs:pattern value="Pd{12}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codLocalizacaoImovel">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
								<xs:pattern value="1|2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="numIncraProprietario">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="13"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="inscricaoImobiliariaImovelRural">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="15"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="areaImovel">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="15"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="inAbrangenciaMunic">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="S|N"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codMotivoSituacaoCadastral">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="dataDocumentoInaptidao">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="numDocumentoInaptidao">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="endResponsavel" type="tns:endereco"/>
					<xs:element minOccurs="0" name="contatoResponsavel" type="tns:contato"/>
					<xs:element minOccurs="0" name="endPreposto" type="tns:endereco"/>
					<xs:element minOccurs="0" name="contatoPreposto" type="tns:contato"/>
					<xs:element minOccurs="0" name="endContadorPf" type="tns:endereco"/>
					<xs:element minOccurs="0" name="contatoContadorPf" type="tns:contato"/>
					<xs:element minOccurs="0" name="endProprietarioRuralPf" type="tns:endereco"/>
					<xs:element minOccurs="0" name="contatoProprietarioRuralPf" type="tns:contato"/>
					<xs:element minOccurs="0" name="endEmpresaContabilComplementar" type="tns:endereco"/>
					<xs:element minOccurs="0" name="contatoEmpresaContabilComplementar" type="tns:contato"/>
					<xs:element maxOccurs="1" minOccurs="0" name="inCpfCnpjProprietarioCafir">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="1|2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="cpfCnpjProprietarioCafir">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="11"/>
								<xs:maxLength value="14"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codSitCadProprietarioComplementar">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codMotivoSitCadProprietarioComplementar">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="areaImovelComplementar">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="9"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="nomeImovelComplementar">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="55"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="endProprietarioComplementar" type="tns:endereco"/>
					<xs:element minOccurs="0" name="contatoProprietarioComplementar" type="tns:contato"/>
					<xs:element minOccurs="0" name="instrumentoJudicial">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="inOpcaoSimples">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="S|N"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="tipoEstatal">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
								<xs:pattern value="1|2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="inInscricaoMEI">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="S|N"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="nire246">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="11"/>
								<xs:pattern value="\d{11}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="motivoInexistenciaRegistro">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="I|P|E"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="simplesNacional">
				<xs:sequence>
					<xs:element minOccurs="0" name="indicadorSimplesNacional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="S|N" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="330" minOccurs="0" name="periodoSimples" nillable="true" type="tns:periodo" />
					<xs:element minOccurs="0" name="indicadorMei">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="S|N" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="330" minOccurs="0" name="periodoMei" nillable="true" type="tns:periodo" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="socio">
				<xs:sequence>
					<xs:element minOccurs="0" name="indTipoContribuinte">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codEvento">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="3"/>
								<xs:pattern value="001|002|003|005|006|007|008|009|999"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="dataEvento">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="indCnpjCpfSocio">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="1|2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="cnpjCpfSocio">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="11"/>
								<xs:maxLength value="14"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="socio">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="150"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="capitalSocialSocio">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="14"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codQualificacaoSocio">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="\d{2}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codPais">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="3"/>
								<xs:pattern value="\d{3}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="nacionalidadeSocioPf">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="37"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="dataInclusaoIncorreta">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="dataInclusaoCorreta">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="endSocio" type="tns:endereco"/>
					<xs:element minOccurs="0" name="contatoSocio" type="tns:contato"/>
					<xs:element minOccurs="0" name="representanteLegal">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="60"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codQualificacaoRepresentanteLegal">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="\d{2}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="cpfRepresentanteLegal">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="11"/>
								<xs:pattern value="\d{11}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="endRepLegal" type="tns:endereco"/>
					<xs:element minOccurs="0" name="contatoRepLegal" type="tns:contato"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="dadosCNPJ">
				<xs:sequence>
					<xs:element name="cnpj">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="14"/>
								<xs:pattern value="\d{14}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="nomeEmpresarial" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="4"/>
								<xs:maxLength value="150"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="indMatrizFilial">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
								<xs:pattern value="1|2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dataAberturaEstabelecimento">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="[1-2][0-9][0-9][0-9](01|02|03|04|05|06|07|08|09|10|11|12)(01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dataAberturaEmpresa">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="[1-2][0-9][0-9][0-9](01|02|03|04|05|06|07|08|09|10|11|12)(01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="situacaoCadastral">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="01|02|03|04|08"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="enderecoDadosCNPJ" type="tns:endereco"/>
					<xs:element name="objetoSocial">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="7000"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="naturezaJuridica" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="4"/>
								<xs:pattern value="\d{4}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="numeroOrgaoRegistro" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="25"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="capitalSocial" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="14"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="cpfRepresentante">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="11"/>
								<xs:pattern value="\d{11}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="nomeRepresentante">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="60"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="qualificacaoRepresentante">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="\d{2}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="enderecoRepresentante" type="tns:endereco"/>
					<xs:element name="porte" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="01|03|05"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="opcaoSimplesNacional" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="S|N"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="opcaoSimei" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="S|N"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="cnaePrincipal" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="7"/>
								<xs:pattern value="\d{7}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="cnaeSecundaria" nillable="true" minOccurs="0" maxOccurs="99">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="7"/>
								<xs:pattern value="\d{7}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="tipoUnidade" minOccurs="0" maxOccurs="13">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="00|01|02|03|04|05|06|07|08|09|10|11|12|13|14"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="formaAtuacao" minOccurs="0" maxOccurs="8">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="01|02|03|04|05|06|07|08"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="cnpjFilial" minOccurs="0" maxOccurs="99">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="14"/>
								<xs:pattern value="\d{14}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ufFilial" minOccurs="0" maxOccurs="99">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO|EX"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="numeroRegistroFilial" minOccurs="0" maxOccurs="99">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="25"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="cnpjMatriz" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="14"/>
								<xs:pattern value="\d{14}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ufMatriz" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO|EX"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="numeroRegistroMatriz" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="25"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="contato" type="tns:contato"/>
					<xs:element minOccurs="0" name="enderecoCorrespondencia" type="tns:endereco"/>
					<xs:element name="nomeFantasia" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="55"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codTipoCRCcontadorPF">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
								<xs:pattern value="O|T|S|P|F"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codClassificCRCcontadorPF">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="numSeqContadorPF">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="6"/>
								<xs:pattern value="\d{6}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="ufContadorPF">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="cpfContadorPF">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="11"/>
								<xs:pattern value="\d{11}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codTipoCRCcontadorPJ">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
								<xs:pattern value="O|T|S|P|F"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="codClassificCRCcontadorPJ">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="numSeqContadorPJ">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="6"/>
								<xs:pattern value="\d{6}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="ufContadorPJ">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="cnpjContadorPJ">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="14"/>
								<xs:pattern value="\d{14}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dadosSocio" nillable="true" type="tns:dadosSocio" minOccurs="0" maxOccurs="999"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="dadosSocio">
				<xs:sequence>
					<xs:element name="cpfCnpj" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="11"/>
								<xs:maxLength value="14"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="nome" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="150"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="qualificacao" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="\d{2}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dataInclusao" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
								<xs:pattern value="[1-2][0-9][0-9][0-9](01|02|03|04|05|06|07|08|09|10|11|12)(01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="valorPartCapitalSocialString" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="14"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="enderecoSocio" minOccurs="0" type="tns:endereco"/>
					<xs:element name="paisOrigem" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="3"/>
								<xs:pattern value="\d{3}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="cpfRepresentanteLegal" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="11"/>
								<xs:pattern value="\d{11}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="nomeRepresentanteLegal" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="60"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="qualificacaoRepresentanteLegal" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="2"/>
								<xs:pattern value="\d{2}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="enderecoRepresentanteLegal" minOccurs="0" type="tns:endereco"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="dadosEspecificosDeferimento">
				<xs:sequence>
					<xs:element name="resultadoDeferimentoRFB">
                    	<xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:length value="2"/>
                                <xs:pattern value="\d{2}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="20" minOccurs="0" name="incompProcessamento" type="tns:incompProcessamento"/>
                     <xs:element minOccurs="0" name="dataRegistro">
		                 <xs:simpleType>
		                     <xs:restriction base="xs:string">
		                         <xs:length value="8"/>
		                         <xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]"/>
		                     </xs:restriction>
		                 </xs:simpleType>
		            </xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="periodo">
				<xs:sequence>
					<xs:element minOccurs="0" name="dataInclusao">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8" />
								<xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="dataExclusao">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8" />
								<xs:pattern value="[1-2][0-9][0-9][0-9][0-1][0-9][0-3][0-9]" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="indicadorPeriodoCancelado">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="S|N"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="numeroOpcao">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="9" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="serviceRequest" type="tns:serviceRequest"/>
			<xs:complexType name="serviceRequest">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="codServico">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="3"/>
								<xs:pattern value="[F|S]{1}07"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="versao">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="6"/>
								<xs:pattern value="\d{6}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="reciboSolicitacao">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="identificacaoSolicitacao">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="14"/>
								<xs:pattern value="\d{14}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="usoRFB">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
								<xs:pattern value="(AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PE|PI|PR|RJ|RN|RO|RR|RS|SC|SE|SP|TO|EX)(JC|CC|IE)[A-Za-z0-9]*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="serviceResponse" type="tns:serviceResponse"/>
			<xs:complexType name="serviceResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:retornoWS"/>
					<xs:element minOccurs="0" name="dadosRedesim" type="tns:redesim"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="wsFault" nillable="true" type="tns:wsFault"/>
			<xs:complexType name="wsFault">
				<xs:sequence>
					<xs:element name="faultCode" type="xs:string"/>
					<xs:element name="faultString" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="wsFaultException">
		<wsdl:part name="wsFault" element="tns:wsFault">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="buscar">
		<wsdl:part name="serviceRequest" element="tns:serviceRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="buscarResponse">
		<wsdl:part name="serviceResponse" element="tns:serviceResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ws07">
		<wsdl:operation name="buscar">
			<wsdl:input name="buscar" message="tns:buscar">
			</wsdl:input>
			<wsdl:output name="buscarResponse" message="tns:buscarResponse">
			</wsdl:output>
			<wsdl:fault name="wsFaultException" message="tns:wsFaultException">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ws07SoapBinding" type="tns:ws07">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="buscar">
			<soap:operation style="document"/>
			<wsdl:input name="buscar">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="buscarResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="wsFaultException">
				<soap:fault name="wsFaultException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ws07">
		<wsdl:port name="ws07Port" binding="tns:ws07SoapBinding">
			<soap:address location="http://localhost:9080/services/ws07/ws07"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>